# PostgreSQL
POSTGRES_USER=glitchtip
POSTGRES_PASSWORD=
POSTGRES_DB=glitchtip

# GlitchTip
SECRET_KEY=
GLITCHTIP_DOMAIN=https://glitchtip.tu-dominio.com
EMAIL_URL=smtp://usuario:password@smtp.host:587
DEFAULT_FROM_EMAIL=glitchtip@tu-dominio.com
